/*
  New.css
  From: https://github.com/xz/new.css/blob/master/theme/night.css
*/
$night-nc-tx-1: #ffffff;
$night-nc-tx-2: #eeeeee;
$night-nc-bg-1: #000000;
$night-nc-bg-2: #111111;
$night-nc-bg-3: #222222;
$night-nc-lk-1: #3291FF;
$night-nc-lk-2: #0070F3;
$night-nc-lk-tx: #FFFFFF;
$night-nc-ac-1: #7928CA;
$night-nc-ac-tx: #FFFFFF;

$default-nc-tx-1: #000000;
$default-nc-tx-2: #1A1A1A;
$default-nc-bg-1: #FFFFFF;
$default-nc-bg-2: #F6F8FA;
$default-nc-bg-3: #E5E7EB;
$default-nc-lk-1: #0070F3;
$default-nc-lk-2: #0366D6;
$default-nc-lk-tx: #FFFFFF;
$default-nc-ac-1: #79FFE1;
$default-nc-ac-tx: #0C4047;